<template>
  <div id="animateInput" class="animate-input__wrapper">
    <label v-bind:for="id" v-bind:class="activeClass">{{ labelText }}</label>
    <div class="animate-input__wrapper-input"
         v-bind:class="activeClass">
      <input v-model="inputValue"
             v-bind:type="type"
             v-bind:name="name"
             v-bind:id="id"
             v-on:focus="inputFocused = true"
             v-on:blur="inputBlur"
             autocomplete="off"/>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import InputProps from "@/components/InputCommon/InputProps";

const AnimateInput = defineComponent({
  props: InputProps['props'],
  setup (props: any) {
    const inputFocused = ref<boolean>(false)
    const inputValue = ref<string>("")
    const activeClass = computed(() => ({"active": !!inputFocused.value }));
    const inputBlur = (inputValue: any): void => {
      if(inputValue.target.value === '') {
        inputFocused.value = false
      }
    }
    return {
      inputFocused,
      inputValue,
      activeClass,
      inputBlur,
      ...props
    }
  },
})

export default AnimateInput
</script>

<style scoped>
.animate-input__wrapper {
  position: relative;
  width: 100%;
  padding: 15px 0;
}
label {
  position: absolute;
  left: 10px;
  top: 25px;
  z-index: 2;
  font-size: 14px;
  transition: 0.35s;
}
label.active {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 11px;
  color: #0d6efd;
}
input {
  width: 100%;
  height: 35px;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  padding: 0 10px;
}
.animate-input__wrapper-input {
  position: relative;
}
.animate-input__wrapper-input:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #0d6efd;
  transition: 0.35s;
}
.animate-input__wrapper-input.active:after {
  width: 100%;
  left: 0;
}
</style>
