<template>
  <div class="t-input__wrap">
    <span v-if="icon.need" class="t-input__icon">
      <fa :icon="icon.icon"></fa>
    </span>
    <span v-if="type === 'password'"
          class=" t-input__icon t-input__icon_password"
          @click="changeInputPass">
      <fa v-if="isInputPassHidden"
          icon="eye-slash"></fa>
      <fa v-else icon="eye"></fa>
    </span>
    <input v-model="inputValue"
           class="t-input"
           :class="[inputIconClass, inputPasswordClass]"
           :type="inputType"
           :name="name"
           :id="id"
           :placeholder="placeholder"
           @focus="inputFocused = true"
           @blur="inputBlur"
           :autocomplete="autocomplete"/>
  </div>
</template>


<script lang="ts">
import {  defineComponent, ref, computed } from "vue";
import InputProps from "@/components/InputCommon/InputProps";

const TInput = defineComponent({
  props: InputProps["props"],
  setup (props: any) {
    const inputFocused = ref<boolean>(false)
    const inputValue = ref<string>("")
    const isInputPassHidden = ref<boolean>(true)
    const inputType = ref<string>(props.type)
    const inputIconClass = computed(() => ({"t-input_icon": props.icon.need }));
    const inputPasswordClass = computed(() => ({"t-input_password": props.type === "password" }));
    const inputBlur = (inputValue: any): void => {
      if(inputValue.target.value === '') {
        inputFocused.value = false
      }
    }
    const changeInputPass = (): void => {
      isInputPassHidden.value = ! isInputPassHidden.value;
      inputType.value = (!isInputPassHidden.value) ? "text" : "password"
    }

    return {
      inputFocused,
      inputValue,
      inputIconClass,
      inputPasswordClass,
      isInputPassHidden,
      changeInputPass,
      inputBlur,
      ...props,
      inputType
    }
  },
})

export default TInput
</script>

<style scoped>
.t-input {
  width: 100%;
  height: 32px;
  border: 1px solid #ddd;
  padding: 0 10px;
  outline: none;
  font-size: 13px;
}
.t-input_icon {
  padding: 0 10px 0 45px;
}
.t-input_password {
  padding-right: 45px;
}
.t-input__wrap {
  position: relative;
  margin: 10px 0;
}
.t-input__icon {
  color: #DBDADA;
  position: absolute;
  top: 6px;
  left: 20px;
}
.t-input__icon_password {
  left: auto;
  right: 20px;
  cursor: pointer;
}
</style>