<template>
  <AnimateInput @input="(val) => animatedText = val.target.value" />
  <p>Animated text: {{ animatedText }}</p>
  <TInput  @input="(val) => text = val.target.value" />
  <p>Text: {{ text }}</p>
  <TInput type="password" :icon="{need: true, icon: 'lock'}" @input="(val) => password = val.target.value"/>
  <p>Password: {{ password }}</p>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import AnimateInput from './components/AnimateInput.vue';
import TInput from '@/components/TInput.vue';

@Options({
  components: {
    AnimateInput,
    TInput,
  },
})
export default class App extends Vue {
  public animatedText :string = ''
  public text :string = ''
  public password :string = ''
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Exo", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
}
</style>
